{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "ios": "9",
          "safari": "9"
        },
        "useBuiltIns": "entry",
        "corejs": 3,
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}